*{
margin:0;
padding: 0;;
}


body{
    margin: 7px 7px;
    height: 500px;
}

.container{
    width: 800px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.logo{
    margin-bottom: 26px;
}

.logo p:first-child{
    color: #3CB04B;
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 5px;
}

.logo p:nth-child(2)
{
    color: #83888E;
    font-size: 10px;
}  

.logo p span{
    text-transform: uppercase;
}


.logo p{
    font-family: Arial;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu a{
    background-color: #3CB04B;
    width: 118px;
    margin: 0 10px;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-left: 0;
    font-size: 21px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.container h1{
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    color: #1E1E1E;
    margin-top: 35px;
    border-bottom: solid 1px #689470;
    padding-bottom: 9px;
}

.container .img_style{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .gallerey_1 img{
    height: 160px;
    width: 100%;
    margin-top: 27px;
    padding-right: 20px;
}


.container .gallerey_1 img:last-child{
    padding-right: 0;
}

.container .gallerey_2 img{
    height: 117px;
    width: 100%;
    margin-top: 20px;
    padding-right: 20px;
}   

.container .gallerey_2 img:last-child{
    padding-right: 0;
}

.container .gallerey_3 img{
    height: 73px;
    /* width: 110px; */
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.container .gallerey_3 img:last-child{
    padding-right: 0;
}

.grow1{
    flex-grow: 1;
}

.grow2{
    flex-grow: 1;
} 

.grow3{
    flex-grow: 8;
}

.grow4{
    flex-grow: 1;
}
.grow5{
    flex-grow: 1;
}

footer{
    background-color: #3CB04B;
    color: white;
    text-align: center;
    font-size: 9px;
    padding: 7px 0;
    letter-spacing: 1px;
}
