h1 {
    font-size: larger;
    text-align: center;
}

.menu{
    width: 350px;
    height: 250px;
    border: blue 2px solid;
    border-radius: 15px;
    position: absolute;
    left: 40%;
    top: 280px;
    padding-top: 30px;
}

ul {
    padding-inline-start: 0;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}

li{
    padding-inline-start: 0;
    font-family: "Arial Black";
    font-size: 1.5em;
    list-style-type: none;
    text-align: center;
    padding-top: 15px;
    margin: 10px;
}


