
.head, .footer{
    width: 100%;
    height: 100px;
}

.menu, .content{
    height: 700px;
}

.head{

    background-color: aqua;
}

.navigation{
    width: 100%;
    height: 40px;
    background-color:  darksalmon;
}

.menu{
    width: 20%;
    background-color: darkkhaki;
    float: left;
}

.content{
    background-color: gray;
}

.footer{
    background-color: darksalmon;
}

.footer-link{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align:  center;
    font-family: "Arial Black";
}