@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.item p:first-child {
    font-family: Arial, "Palatino Linotype", sans-serif;
    font-size: 150%;
    color: red;
}

.item p:last-child {
    font-family: "Palatino Linotype", sans-serif;
    font-size: 80%;
    font-style: italic;
    color: blue;
}

.item p:nth-child(2) {
    font-family: 'Lobster', cursive;
    color: saddlebrown;
    font-weight: bolder;
    font-size: 120%;

}

.item p:nth-child(3) {
    font-family: 'Caveat', cursive;
    font-size: xxx-large;
    color: green;
}

.text p::first-letter{
    color: red;
    font-size: 200%;
}

body{
    background-image:   url("../img/bg.jpg");
    background-attachment: fixed;
}

h1, .text p{
    font-family: 'Marck Script', cursive;
    font-size: 140%;
    text-indent: 50px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    text-decoration: none;
}

.text p:after {
    border-left: #003399 5px dotted;
    content: " ";
    margin-left: 20px;

}

.sign{
width: 500px;
    margin-left: 60%;
}

h1 {
    text-decoration: #003399 underline;
    font-size: 150%;
    margin-top: 40px;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 40%;
    height: 2px;
    background-color: #493224;
}


