
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    width: 1190px;
    margin: 0 auto;
}

.main_container
{
    display: flex;
    flex-direction: row;
}

 .left_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    /* border: 1px solid black; */
    background-image: url(../img/left_side_bg.png);
    background-repeat: no-repeat;
    background-position: 0 517px;
}

.left_side p{
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif;
}

.left_side img{
    width: 200px;
    height: 200px;
    margin-top: 76px;
    margin-bottom: 35px;
}

.logo_title1{
    font-family: Monsterrat;
    font-size: 48px;
    font-weight: 400;   
}

.logo_title2{
    font-weight: 800;
    padding-top: 8.5px;
}

.subtitle{
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
}

.menu_bg{
    background-image: url(../img/menu_bg.png);
    width: 270px;
    text-align: center;
    color: white;
    margin-top: 37px;
    padding: 25px 0;
    margin-bottom: 38px;
    font-family: "Open Sans";
    font-size: 24px;
}

.contact, .follow_contact, .lang_contact{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 270px;
   padding-bottom: 32px;
   
}

.contact img, .follow_contact img{
    margin: 0;
    width: 32px;
    height: 32px;
}

.contact p, .follow_contact p{
    padding-left: 20px;
}

.follow_contact{
    padding-bottom: 15px;
}

.lang_contact{
padding-bottom: 25px;
justify-content: space-between;
}

.lang_dots{
    padding-right: 30px;
}

.lang_dots img{
    padding-left: 6px;
}

.lang_contact img{
    width: 10px;
    height: 10px;
    margin: 0;
}

.hobbies{
    display: flex;
    flex-direction: row;
    width: 270px;
    justify-content: space-between;
    padding-bottom: 85px;
 }

 .hobbies_contact p{
     padding-bottom: 45px;
     padding-right: 20px;
 }

 .follow_contact p, .hobbies_contact p
 {
    font-family: "Open Sans";
    text-transform: none;
    font-size: 18px;
 }

 .lang_contact p{
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 600;
 }

.right_side{
    width: 655px;
    margin: 0 auto;
}


.content_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 75px;
}

.content_header img{
    width: 45px ;
    height: 45px;
}

.content_header h1{
    width: 100%;
    border-bottom: 3px solid #43454b;
    margin-left: 24px;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 14px;
}

.aboutme p {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    padding: 40px 0 0px 0;
    color: #6e7a7a;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: flex-end;
}

.article h2{
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}

.article h2::before{
    content: ">";
    padding-right: 8px;
    font-size: 20px;
}

.article p{
    font-family: Lato;
    font-size:  16px;
    color: #43454b;
    
}

.education p, .experience p{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

p.date{
    color: #43454b;
}

.skills_main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}


.skills_content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills_content p{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.skills_dots{
    padding-left: 50px;
}

.skills_dots img{
width: 10px;
height: 10px;
padding-right: 10px;
}